body {
    background-image: url(https://external-preview.redd.it/NXrR_qnMRHrwUoE8pbeiX26fq4mNctFsmdEghRVApSQ.jpg?auto=webp&s=b18e1b0df84f417036d4e1ac0affb6245a071ebf);
    background-size:auto;
    height: 50px;
    text-align: center;
    font-size: 55px;
    font-style: italic;
    text-align: center;     
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
