<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <center>
    <form method="post">
     <h1>
        <font size="7">Find Your Pokemon</font>
     </h1>
      <label for="title">Search Pokemon Type</label>
      <input
        name="title"
        id="title"
        value="{{ request.form['title'] }}"
        required
      />
      <input type="submit" value="Save" />
    </form>
    </center>
  </body>
</html>
