<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <label for="title">Search Pokeman</label>
      <input
        name="title"
        id="title"
        value="{{ request.form['title'] }}"
        required
      />
      <label for="body">Body</label>
      <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
